h1 {
    text-align: center;
}

h3 {
    font-family: ivypresto-display,serif;
    font-weight: 600;
    text-align: left;
}

 img {
    width: 700px;
    position: relative;
    left: 13.6%;
    border: solid;
    border-radius: 10px;
    border-color: rgba(184, 125, 75, 0);
}

.infoGrid {
    width: 660px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: .4fr .45fr;
    background-color: rgba(184, 125, 75, .75);
    border: solid;
    border-radius: 10px;
    border-color: rgba(184, 125, 75, 0);
}

.infoGrid p{
    margin-bottom: -10px;
}

.infoHeadings{
    font-weight: 600;
}

.designProcess, .aboutProject {
    width: 660px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(184, 125, 75, .75);
    border: solid;
    border-radius: 10px;
    border-color: rgba(184, 125, 75, 0);
}

.designProcess img {
    width: 400px;
}

.nextProject {
    width: 700px;
    margin: 0 auto;
}

.nextProjectGrid{
    display: grid;
    grid-template-columns: 3fr 1.16fr; 
}

.nextText p {
    font-weight: 600;
    font-size: 18px;
}

.nextText a:visited {
    color: #222222;
    text-decoration: none;
}

.dpImgGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.dpImgGrid img {
    width: 96px;
}

.acImgGrid, .acProgressGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.acImgGrid img {
    width: 96px;
}

.acProgressGrid img {
    width: 192px;
    padding: 5px;
}

.acWireframe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.acWireframe img {
    width: 296px;
    padding: 5px;
}

.nextProjectGrid img {
    width: 14px;
}

.nextText {
    display: inline;
}

.nextText a:hover {
    color: #72C072;
}

.nextText a:active {
    color: #CCE8CC;
}

